header {
    background-color: #000000;
    padding: 15px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

a{
    color: #ffffff;
    font-style: bold;
    text-decoration: none;
    margin: 15px;
}

.link:hover {
    color: #8e44ad;
    border-radius: 15px;
    transition: 0.5s;
}


.link {
    font-size: 1em;
    color: #e91e63;
}

.title {
    font-size: 30px;
}

input {
    padding: 5px;
    border-radius: 10px;
}
