header {
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999; */
    background-color: #333; /* Escolha sua cor */
    padding: 15px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

a{
    color: #fff;
    font-style: bold;
    text-decoration: none;
    padding: 15px;
}

Link:hover {
    background-color: #807f7f;
    color: #333;
    border-radius: 15px;
    transition: 0.5s;
}
