/* src/components/MovieList.css */

/* Container principal */
.movie-container {
    padding: 16px;
}

/* Grid de filmes */
.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    justify-content: center;
}

/* Card do filme */
.movie-card {
    background-color: #1e1e1e;
    color: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Imagem do filme */
.movie-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

/* Corpo do card */
.card-body {
    padding: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0px;
    color: #e91e63; /* Rosa vibrante */
}

.card-text {
    font-size: 12px;
    margin-bottom: 16px;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

/* Ações */
.actions {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-top: 16px; /* Espaço acima dos botões */
}

/* Botões - Estilo base */
.actions .btn {
    margin: 0 auto;
    flex: 1;
    background-color: #8e44ad; /* Roxo forte */
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    border-radius: 6px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    cursor: pointer; /* Mostra que é clicável */
}

/* Efeito de hover nos botões */
.actions .btn:hover {
    background-color: #e91e63; /* Cor ao passar o mouse */
}

/* Estilização personalizada para os botões dentro do card */
.movie-card .btn {
    background-color: #8e44ad; /* Roxo forte */
    color: white;
    border: none;
    border-radius: 5px; /* Bordas arredondadas */
    padding: 8px 8px; /* Ajusta o espaço interno */
    font-size: 0.9rem; /* Texto menor */
    cursor: pointer; /* Mostra que é clicável */
    transition: background-color 0.3s ease; /* Animação suave */
}

.movie-card .btn:hover {
    background-color: #732d91; /* Cor ao passar o mouse */
    color: #f1f1f1; /* Texto levemente mais claro */
}

