/* src/components/MovieList.css */
.movie-img {
    width: 100%;
    height: 300px; /* Define uma altura padrão */
    object-fit: cover; /* Corta ou ajusta a imagem mantendo o aspecto */
    border-radius: 8px;
}

.card {
    border: none;
    border-radius: 12px;
    overflow: hidden;
}

.card-body {
    text-align: center;
    display: flex;
    flex-direction: column; /* Garante que os elementos se alinhem em coluna */
    justify-content: space-between; /* Distribui espaço uniformemente */
    height: 100%; /* Faz o card ocupar todo o espaço disponível */
}

.card-text {
    height: 60px; /* Define uma altura fixa para a descrição */
    overflow: hidden; /* Oculta texto que exceda o limite */
    text-overflow: ellipsis; /* Adiciona "..." se o texto for muito longo */
    white-space: normal; /* Permite que o texto quebre em várias linhas */
    margin-bottom: 16px;
    font-size: 10px;
}

.actions {
    margin-top: auto; /* Empurra os botões para o final do card */
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-6.col-sm-4.col-md-3 {
    display: flex;
    justify-content: center;
    align-items: stretch; /* Faz as colunas terem a mesma altura */
}
