.searchform {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: #1c1c1c; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.searchinput[type="text"] {
    width: 250px; 
    padding: 8px 12px;
    border: 1px solid #444;
    border-radius: 5px;
    font-size: 14px;
    background-color: #2c2c2c;
    color: white;
}

.searchinput[type="text"]::placeholder {
    color: #999;
    font-style: italic;
}

.searchbutton[type="submit"]{
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #e91e63; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.searchbutton[type="submit"]:hover {
    background-color: #ee004f; 
}

@media (max-width: 768px) {
    .searchinput[type="text"] {
        width: 180px; 
    }

    .searchbutton[type="submit"] {
        padding: 6px 12px;
        font-size: 12px;
    }
}
