.movie-page {
    background-color: #121212;
    color: #ffffff;
    padding-bottom: 40px;
}

.movie-header {
    position: relative;
    text-align: center;
    color: white;
}

.movie-header .container {
    position: relative;
    z-index: 1;
}

.movie-title {
    font-size: 3rem;
    font-weight: bold;
    color: #e91e63;
    margin-bottom: 15px;
}

.movie-description {
    font-size: 1.2rem;
    line-height: 1.5;
}

.movie-image img {
    border-radius: 12px;
}

.movie-info {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
}

.info-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #e91e63;
    margin-bottom: 10px;
}

.info-text {
    font-size: 1rem;
    line-height: 1.6;
    color: #ddd;
}

.movie-details p {
    font-size: 1rem;
    margin: 5px 0;
    color: #aaa;
}

.movie-reviews {
    margin-top: 30px;
    padding: 20px;
    background-color: #2d2d2d;
    border-radius: 8px;
}

.review-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #e91e63;
    margin-bottom: 20px;
    text-align: center;
}

.review-card {
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.review-card .badge {
    font-size: 0.8rem;
}

.review-card small {
    display: block;
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: #bbb;
}

.review-card .d-flex {
    margin-bottom: 0.5rem;
}

.review-card .badge {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 12px;
    font-weight: bold;
    color: #121212;
}

.review-card a {
    text-decoration: none !important;
    color: inherit !important;
    border: none !important;
}

.review-card a:hover {
    text-decoration: none;
    color: #e91e63;
}

@media (max-width: 768px) {
    .movie-header {
        height: 250px;
    }

    .movie-title {
        font-size: 2rem;
    }

    .movie-description {
        font-size: 1rem;
    }

    .movie-info {
        padding: 15px;
    }

    .movie-reviews {
        padding: 15px;
    }
}

.actionsMoviePage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}

.actionsMoviePage .btn {
    background-color: #8e44ad;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 16px;
    border-radius: 6px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    width: 120px;
    flex: none;
}

.actionsMoviePage .btn:hover {
    background-color: #732d91;
    color: #f1f1f1;
}
